################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/consulta-cep/config/applicationhost.config
/.vs/consulta-cep/DesignTimeBuild/.dtbcache.v2
/.vs/consulta-cep/FileContentIndex/0cd4e122-36d7-421c-a6c8-c0d9426d4c1e.vsidx
/.vs/consulta-cep/FileContentIndex/18e2d5c1-d1a8-4c96-8b2d-99e5beda7b54.vsidx
/.vs/consulta-cep/FileContentIndex/defff621-43c5-4aee-923d-7989c6da80a9.vsidx
/.vs/consulta-cep/v17/.suo
/.vs/consulta-cep/v17/DocumentLayout.json
/.vs/consulta-cep/FileContentIndex/59511ab3-baf5-4f9b-8e9a-eb942c9bb65f.vsidx
/Api/bin/Debug/net8.0/Api.dll
/Api/bin/Debug/net8.0/Api.exe
/Api/bin/Debug/net8.0/Api.pdb
/Api/bin/Debug/net8.0/Api.staticwebassets.runtime.json
/Api/bin/Debug/net8.0/Api.xml
/Api/bin/Debug/net8.0/Dominio.dll
/Api/bin/Debug/net8.0/Dominio.pdb
/Api/Api.xml
/Api/obj/Api.csproj.nuget.dgspec.json
/Api/obj/Debug/net8.0/Api.AssemblyInfo.cs
/Api/obj/Debug/net8.0/Api.AssemblyInfoInputs.cache
/Api/obj/Debug/net8.0/Api.assets.cache
/Api/obj/Debug/net8.0/Api.csproj.AssemblyReference.cache
/Api/obj/Debug/net8.0/Api.csproj.CoreCompileInputs.cache
/Api/obj/Debug/net8.0/Api.csproj.FileListAbsolute.txt
/Api/obj/Debug/net8.0/Api.dll
/Api/obj/Debug/net8.0/Api.GeneratedMSBuildEditorConfig.editorconfig
/Api/obj/Debug/net8.0/Api.genruntimeconfig.cache
/Api/obj/Debug/net8.0/Api.pdb
/Api/obj/Debug/net8.0/Api.sourcelink.json
/Api/obj/Debug/net8.0/apphost.exe
/Api/obj/Debug/net8.0/ref/Api.dll
/Api/obj/Debug/net8.0/refint/Api.dll
/Api/obj/Debug/net8.0/staticwebassets.build.json
/Api/obj/Debug/net8.0/staticwebassets.development.json
/Api/obj/Debug/net8.0/staticwebassets.pack.json
/Api/obj/project.assets.json
/Api/obj/project.nuget.cache
/Dominio/bin/Debug/net8.0/Dominio.dll
/Dominio/bin/Debug/net8.0/Dominio.pdb
/Dominio/obj/Debug/net8.0/Dominio.AssemblyInfo.cs
/Dominio/obj/Debug/net8.0/Dominio.AssemblyInfoInputs.cache
/Dominio/obj/Debug/net8.0/Dominio.assets.cache
/Dominio/obj/Debug/net8.0/Dominio.csproj.CoreCompileInputs.cache
/Dominio/obj/Debug/net8.0/Dominio.csproj.FileListAbsolute.txt
/Dominio/obj/Debug/net8.0/Dominio.dll
/Dominio/obj/Debug/net8.0/Dominio.GeneratedMSBuildEditorConfig.editorconfig
/Dominio/obj/Debug/net8.0/Dominio.pdb
/Dominio/obj/Debug/net8.0/Dominio.sourcelink.json
/Dominio/obj/Debug/net8.0/ref/Dominio.dll
/Dominio/obj/Debug/net8.0/refint/Dominio.dll
/Dominio/obj/Dominio.csproj.nuget.dgspec.json
/Dominio/obj/project.assets.json
/Dominio/obj/project.nuget.cache
*.vsidx
